@font-face{
	font-family: "Web-Raleway";
	src:url('../fonts/Raleway-Regular.eot');
	src:url('../fonts/Raleway-Regular.eot?#iefix') format("embedded-opentype"),
	url('../fonts/Raleway-Regular.woff') format("woff"),
	url('../fonts/Raleway-Regular.ttf') format("truetype"),
	url('../fonts/Raleway-Regular.svg#web') format("svg");
	font-style: normal;font-weight: normal;
}
@font-face{
	font-family: "Web-Raleway-Bold";
	src:url('../fonts/Raleway-Bold.eot');
	src:url('../fonts/Raleway-Bold.eot?#iefix') format("embedded-opentype");
	url('../fonts/Raleway-Bold.woff') format("woff"),
	url('../fonts/Raleway-Bold.ttf') format("truetype"),
	url('../fonts/Raleway-Bold.svg#web') format("svg");
	font-style: normal;font-weight: normal;
}

/*default configuration*/
body{
	margin : 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #373737;
}
.clear{

	float: none;
	clear: both;
}
.center{
	width: 961px;
	margin: 0 auto;
}
#header{
    padding: 35px 0;
}
#header #logo{
	float: left;
}
#header .navigation{
	float: right;
}
#header .navigation ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#header .navigation ul li{
	display: inline-block;
	font-size: 18px;
	font-family: "Web-Raleway-Bold";
}
#header .navigation ul li a{
	display: inline-block;
	padding: 20px 25px;
	text-transform: uppercase;
	color: #373737;
	text-decoration: none;
}
#header .navigation ul li a:hover{
	color:blue;
	-webkit-transition: 0.3s;
	-moz-transition:  0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition:  0.3s;
}

#banner{
	background: url("../IMAGE/banner.png") no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 127px;
	color: #ffffff;
	text-align: center;
}
#banner h1{
	font-size: 44px;
	font-family:"Web-Raleway";
	text-transform: uppercase;
	font-weight: normal;
}
#banner h2{
	font-size: 26px;
	font-family:"Web-Raleway";
	font-weight: normal;
	margin-bottom: 25px;
}
.btn-primary{
	border: solid 3px #ffffff;
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Web-Raleway";
	font-size: 16px;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}
.btn-primary:hover{
	color:#0b64cd;
	background:white;
	-webkit-transition: 0.3s;
	-moz-transition:  0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition:  0.3s;
}




#our-services{
	padding: 25px 0;
	font-family: "Web-Raleway";
}
#our-services .title-content {
	text-transform: uppercase;
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
}
#our-services .title-content span{
	font-family: "Web-Raleway";
}
.content-list .list-services{
	background: #0a63d2;
	padding: 15px;
}
.content-list .list-services{
	background: #0a63d2;
	padding: 18px;
	float: left;
	width: 45%; 
	color: white;
}
.content-list .list-services:last-child{
	float: right;

}
.content-list .list-services h2{
	text-transform: uppercase;
	font-family: "Web-Raleway";
	font-size: 26px;
	margin-bottom: 10px;
	margin-top: 0;
}
.content-list .list-services .text{
	line-height: 25px; 
	margin-bottom: 20px;
}
.content-list .list-services .button a{
	display: inline-block;
	padding: 10px 15px;
	border: solid 2px white;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: "Web-Raleway"
}
.content-list .list-services .button a:hover{
	color:#0b64cd;
	background:white;
	-webkit-transition: 0.3s;
	-moz-transition:  0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition:  0.3s;
}
#notification-subscribe{
	background: #d7d7d7;
	padding: 25px 0;
	margin-top: 30px; 
}
#notification-subscribe h2{
font-family: "Web-Raleway";
text-transform: uppercase;
font-size: 30px;
margin-bottom: 15px;
}
#notification-subscribe h3{
	margin-top: 0;
	font-size: 24px;
	font-family: "Web-Raleway";
	font-weight: normal;
}
#notification-subscribe .right-content{
	float:right;
	padding-top: 35px;
}
#notification-subscribe .left-content{
	float:left;
}

#notification-subscribe .large-btn{
	display: inline-block;
	background-color:#0a63d2;
	font-family:"Web-Raleway";
	font-size: 24px;
	padding: 16px 45px;
	text-transform: uppercase;
	text-decoration:none;
	color: white;
}
#notification-subscribe .large-btn:hover{
		color:white;
	background:#373737;
	-webkit-transition: 0.3s;
	-moz-transition:  0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition:  0.3s;
}
#footer{
	background:#373737;
	padding: 40px 0;
	text-align: center;
	color: white;
	font-size: 16px; 
}
@media screen and (max-width:1095px){
	.center{
		width: auto;
		padding: 0 20px;
		margin: 0;
	}
}
@media screen and (max-width:826px){
	#notification-subscribe .right-content,
#notification-subscribe .left-content{
	float: none;
	text-align: center;

}
#notification-subscribe .left-content{
padding-top: 10px;
	}
.content-list .list-services,

.content-list .list-services:last-child{
width: auto;
display: block;
float: none;
margin-bottom: 15px;
}
}
@media screen and (max-width:741px){
	#header .navigation,
	#header #logo{
		float: none;
		width: auto;
		margin: 0 auto;
	}
		#header #logo{
		margin-bottom: 10px;
	}
	#header #logo img {
		margin: 0 auto;
		display: table;

	}
	#header .navigation ul {
		display: table;
		margin: 0 auto;

	}
	#banner h1{
		font-size: 30px;
	}
}